{# SPDX-License-Identifier: MIT #}
[Unit]
Description=Filesystem for the LINSTOR controller

[Mount]
# you can use the minor like /dev/drbdX or the udev symlink
What=/dev/drbd/by-res/{{ ha_database_res }}/0
Where=/var/lib/linstor
