{# SPDX-License-Identifier: MIT #}
{# Controller address fallback: linstor_ip → replication_ip → ansible_host → localhost #}
{%- set _https = 'linstors://' if linstor_client_https | default(false) | bool else '' -%}
{%- set _controllers = linstor_controller_addresses | map('regex_replace', '^', _https) | join(',') -%}
{%- set _certfile = linstor_client_certfile | default('') -%}
{%- set _keyfile = linstor_client_keyfile | default('') -%}
[global]
controllers={{ _controllers }}
{% if _certfile %}
certfile={{ _certfile }}
{% endif -%}
{% if _keyfile %}
keyfile={{ _keyfile }}
{% endif -%}
