{# SPDX-License-Identifier: MIT #}
{# Controller address fallback: linstor_ip → replication_ip → ansible_host → localhost #}
{%- set _https = 'linstor+ssl://' if linstor_client_https | default(false) | bool else '' -%}
{%- set _controllers = linstor_controller_addresses | map('regex_replace', '^', _https) | join(',') -%}
{%- set _cafile = linstor_client_cafile | default('') -%}
{%- set _certfile = linstor_client_certfile | default('') -%}
{%- set _keyfile = linstor_client_keyfile | default('') -%}
{%- set _auth_token = linstor_client_auth_token | default('') -%}
[global]
controllers={{ _controllers }}
{% if _cafile %}
cafile={{ _cafile }}
{% endif -%}
{% if _certfile %}
certfile={{ _certfile }}
{% endif -%}
{% if _keyfile %}
keyfile={{ _keyfile }}
{% endif -%}
{% if _auth_token %}
auth-token = {{ _auth_token }}
{% endif -%}
