[global]
controllers={% for address in linstor_controller_addresses %}linstors://{{ address }}{% if not loop.last %},{% endif %}{% endfor %}
{% if ssl_https_mtls | default(false) | bool %}

certfile={{ ssl_dir }}/client.pem
keyfile={{ ssl_dir }}/client.key
{% endif %}
